@model TransactionsViewModel

@{
    ViewBag.Title = "Список транзакций";
    Layout = "_Layout";
}

@if (Model.Transactions is null)
{
    <h2>Список транзакций пуст</h2>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Номер транзакции</th>
            <th scope="col">Тип</th>
            <th scope="col">Сумма</th>
            <th scope="col">Дата</th>
            <th scope="col">Получатель</th>
            <th scope="col">Отправитель</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var transaction in Model.Transactions)
        {
            <tr>
                <th>@transaction.Id</th>
                <td>@transaction.Type</td>
                <td>@transaction.Sum</td>
                <td>@transaction.TransactionDate</td>
                <td>@transaction.Addressee</td>
                <td>@transaction.Sender</td>
            </tr>
        }
        </tbody>
    </table>
}